
.button {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  